*:focus {
    outline: none;
}

.footer {
    font-size: 0.8125rem;
    margin-top: 20px;
    background: #333333;
    padding: 15px 10px;
    color: #FFFFFF;
}

.breadcrumbs {
    margin-top: 20px;
}

.answers {
    list-style: none;
}

.answers li {
    margin: 10px 0;
    padding: 7px;
    border-radius: 30px 3px 3px 30px;
    background: #F4F4F4;
}

.answers li div.active {
    color: #CF280E;
    font-weight: bold;
}

.answers li div.success {
    color: #3C9A5F;
    font-weight: bold;
}

.answers input[type=button] {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #FFF;
    background: #008CBA;
    font-weight: bold;
    box-shadow: 0px 0px 2px #333333;
}

.answers input[type=button]:hover {
    background: #CF280E;
}

.answers input[type=button]:active {
    outline: none;
    background: #FF280E;
}

.answers input[type=button].active {
    background: #FF280E;
}

.answers input[type=button].success {
    background: #3C9A5F;
}

#result {
    display: block;
    padding: 0px;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 17px;
    width: 120px;
    height: 20px;
}

span#true, span#false {
    display: block;
    padding: 5px;
    border: 1px solid #666666;
    border-radius: 3px;
    text-align: center;
    color: #F4F4F4;
    font-weight: normal;
    font-size: 14px;
    background: #358753;
}

span#false {
    background: #CF280E;
}

.loginmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.loginmenu li {
    display: inline;
    padding: 0 0 0 5px;
}

.loginmenu li a {
    font-size: 14px;
    color: #358753;
}

.loginmenu li a:hover {
    text-decoration: underline;
}

.loginmenu li:first-child a {
    color: #008CBA;
}

.loginmenu li:before {
    content: " | ";
    color: #333333;
    margin: 0 5px 0 0;
}

.loginmenu li:first-child:before {
    content: "";
}

.nav-quest {
    padding: 10px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    background: #F4F4F4;
}

.nav-quest .button, .nav-quest input  {
    margin: 0;
}

#backgr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    z-index: 9;
    opacity: 0.6;
}

.end_training {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 99;
    padding: 30px 50px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px;
}

#training_yes, #training_no {
    padding: 7px 20px;
    margin: 0;
}

#training_no {
    margin-left: 10px;
}

.top-bar .name a, .top-bar .name div {
    font-weight: normal;
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 45px;
    font-size: 1.0625rem;
    margin: 0;
}

.question h1 {
    font-size: 1.6875rem;
}

#text_green h2 {
    color: #358753;
}

#text_red h2 {
    color: #CF280E;
}